
lab3.rar
lab3/.vs/lab3/DesignTimeBuild/.dtbcache.v2
lab3/.vs/lab3/v16/.suo
lab3/bin/Debug/net5.0/lab3.deps.json
lab3/bin/Debug/net5.0/lab3.dll
lab3/bin/Debug/net5.0/lab3.exe
lab3/bin/Debug/net5.0/lab3.pdb
lab3/bin/Debug/net5.0/lab3.runtimeconfig.dev.json
lab3/bin/Debug/net5.0/lab3.runtimeconfig.json
lab3/bin/Debug/net5.0/lab3.txt
lab3/bin/Debug/net5.0/output.txt
lab3/bin/Debug/net5.0/ref/lab3.dll
lab3/lab3.csproj
lab3/lab3.sln
lab3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab3/obj/Debug/net5.0/apphost.exe
lab3/obj/Debug/net5.0/lab3.AssemblyInfo.cs
lab3/obj/Debug/net5.0/lab3.AssemblyInfoInputs.cache
lab3/obj/Debug/net5.0/lab3.assets.cache
lab3/obj/Debug/net5.0/lab3.csproj.AssemblyReference.cache
lab3/obj/Debug/net5.0/lab3.csproj.CoreCompileInputs.cache
lab3/obj/Debug/net5.0/lab3.csproj.FileListAbsolute.txt
lab3/obj/Debug/net5.0/lab3.dll
lab3/obj/Debug/net5.0/lab3.GeneratedMSBuildEditorConfig.editorconfig
lab3/obj/Debug/net5.0/lab3.genruntimeconfig.cache
lab3/obj/Debug/net5.0/lab3.pdb
lab3/obj/Debug/net5.0/ref/lab3.dll
lab3/obj/lab3.csproj.nuget.dgspec.json
lab3/obj/lab3.csproj.nuget.g.props
lab3/obj/lab3.csproj.nuget.g.targets
lab3/obj/project.assets.json
lab3/obj/project.nuget.cache
lab4.rar
lab4/.vs/lab4/DesignTimeBuild/.dtbcache.v2
lab4/.vs/lab4/v16/.suo
lab4/bin/Debug/net5.0/lab4.deps.json
lab4/bin/Debug/net5.0/lab4.dll
lab4/bin/Debug/net5.0/lab4.exe
lab4/bin/Debug/net5.0/lab4.pdb
lab4/bin/Debug/net5.0/lab4.runtimeconfig.dev.json
lab4/bin/Debug/net5.0/lab4.runtimeconfig.json
lab4/bin/Debug/net5.0/ref/lab4.dll
lab4/lab3.sln
lab4/lab4.csproj
lab4/lab4.sln
lab4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
lab4/obj/Debug/net5.0/apphost.exe
lab4/obj/Debug/net5.0/lab4.AssemblyInfo.cs
lab4/obj/Debug/net5.0/lab4.AssemblyInfoInputs.cache
lab4/obj/Debug/net5.0/lab4.assets.cache
lab4/obj/Debug/net5.0/lab4.csproj.AssemblyReference.cache
lab4/obj/Debug/net5.0/lab4.csproj.CoreCompileInputs.cache
lab4/obj/Debug/net5.0/lab4.csproj.FileListAbsolute.txt
lab4/obj/Debug/net5.0/lab4.dll
lab4/obj/Debug/net5.0/lab4.GeneratedMSBuildEditorConfig.editorconfig
lab4/obj/Debug/net5.0/lab4.genruntimeconfig.cache
lab4/obj/Debug/net5.0/lab4.pdb
lab4/obj/Debug/net5.0/ref/lab4.dll
lab4/obj/lab4.csproj.nuget.dgspec.json
lab4/obj/lab4.csproj.nuget.g.props
lab4/obj/lab4.csproj.nuget.g.targets
lab4/obj/project.assets.json
lab4/obj/project.nuget.cache
Lugovyi/.vs/Lugovyi/DesignTimeBuild/.dtbcache.v2
Lugovyi/.vs/Lugovyi/v16/.suo
Lugovyi/bin/Debug/net5.0/Lugovyi.deps.json
Lugovyi/bin/Debug/net5.0/Lugovyi.dll
Lugovyi/bin/Debug/net5.0/Lugovyi.exe
Lugovyi/bin/Debug/net5.0/Lugovyi.pdb
Lugovyi/bin/Debug/net5.0/Lugovyi.runtimeconfig.dev.json
Lugovyi/bin/Debug/net5.0/Lugovyi.runtimeconfig.json
Lugovyi/bin/Debug/net5.0/ref/Lugovyi.dll
Lugovyi/Lugovyi.csproj
Lugovyi/Lugovyi.sln
Lugovyi/lugovyi01.rar
Lugovyi/lugovyi01/Program.cs
Lugovyi/lugovyi01/Student.cs
Lugovyi/lugovyi02.rar
Lugovyi/lugovyi02/Program.cs
Lugovyi/lugovyi02/StudCont.cs
Lugovyi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Lugovyi/obj/Debug/net5.0/apphost.exe
Lugovyi/obj/Debug/net5.0/Lugovyi.AssemblyInfo.cs
Lugovyi/obj/Debug/net5.0/Lugovyi.AssemblyInfoInputs.cache
Lugovyi/obj/Debug/net5.0/Lugovyi.assets.cache
Lugovyi/obj/Debug/net5.0/Lugovyi.csproj.AssemblyReference.cache
Lugovyi/obj/Debug/net5.0/Lugovyi.csproj.CoreCompileInputs.cache
Lugovyi/obj/Debug/net5.0/Lugovyi.csproj.FileListAbsolute.txt
Lugovyi/obj/Debug/net5.0/Lugovyi.dll
Lugovyi/obj/Debug/net5.0/Lugovyi.GeneratedMSBuildEditorConfig.editorconfig
Lugovyi/obj/Debug/net5.0/Lugovyi.genruntimeconfig.cache
Lugovyi/obj/Debug/net5.0/Lugovyi.pdb
Lugovyi/obj/Debug/net5.0/ref/Lugovyi.dll
Lugovyi/obj/Lugovyi.csproj.nuget.dgspec.json
Lugovyi/obj/Lugovyi.csproj.nuget.g.props
Lugovyi/obj/Lugovyi.csproj.nuget.g.targets
Lugovyi/obj/project.assets.json
Lugovyi/obj/project.nuget.cache
Project1/.vs/Project1/v16/.suo
Project1/.vs/Project1/v16/Browse.VC.db
Project1/.vs/Project1/v16/ipch/AutoPCH/11e707d184b6e92f/LAB04.ipch
Project1/.vs/Project1/v16/ipch/AutoPCH/531956e58c510812/LAB04.ipch
Project1/Debug/Project1.exe
Project1/Debug/Project1.ilk
Project1/Debug/Project1.pdb
Project1/Project1.sln
Project1/Project1/Debug/lab04.obj
Project1/Project1/Debug/Project1.exe.recipe
Project1/Project1/Debug/Project1.log
Project1/Project1/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/Debug/Project1.tlog/Project1.lastbuildstate
Project1/Project1/Debug/vc142.idb
Project1/Project1/Debug/vc142.pdb
Project1/Project1/lab04.cpp
Project1/Project1/lab04.h
Project1/Project1/Project1.vcxproj
Project1/Project1/Project1.vcxproj.filters
Project1/Project1/Project1.vcxproj.user
Project1/Project1/test.log
SPO/SPO/.vs/SPO/v16/.suo
SPO/SPO/.vs/SPO/v16/Browse.VC.db
SPO/SPO/.vs/SPO/v16/ipch/AutoPCH/ee1e7ca3e35dba3/SOURCE.ipch
SPO/SPO/Debug/SPO.exe
SPO/SPO/Debug/SPO.ilk
SPO/SPO/Debug/SPO.pdb
SPO/SPO/SPO.sln
SPO/SPO/SPO/Debug/source.new.obj.enc
SPO/SPO/SPO/Debug/SPO.exe.recipe
SPO/SPO/SPO/Debug/SPO.log
SPO/SPO/SPO/Debug/SPO.tlog/CL.command.1.tlog
SPO/SPO/SPO/Debug/SPO.tlog/link.command.1.tlog
SPO/SPO/SPO/Debug/SPO.tlog/link.read.1.tlog
SPO/SPO/SPO/Debug/SPO.tlog/link.write.1.tlog
SPO/SPO/SPO/Debug/SPO.tlog/SPO.lastbuildstate
SPO/SPO/SPO/Debug/SPO.tlog/unsuccessfulbuild
SPO/SPO/SPO/Debug/vc142.idb
SPO/SPO/SPO/Debug/vc142.pdb
SPO/SPO/SPO/Source.cpp
SPO/SPO/SPO/SPO.vcxproj
SPO/SPO/SPO/SPO.vcxproj.filters
SPO/SPO/SPO/SPO.vcxproj.user
